@charset "UTF-8";
 @font-face {
  font-family: 'visbybold'; /* Give your font a name */
  src: url('fonts/VisbyBold.otf') format('otf'),
       url('fonts/VisbyRegular.otf') format('otf'); /* Paths to font files */
  font-weight: normal; 
  font-style: normal;
	 } 
@font-face {
  font-family: 'visbyregular'; /* Give your font a name */
  src: url('fonts/VisbyRegular.otf') format('otf');
  font-weight: normal; 
  font-style: normal;
	 } 
h1 {
  font-family: 'visbybold', sans-serif; margin-left: 25px;
	 color: #314f94;/* Use your custom font */
}
h2 {
  font-family: 'visbybold', sans-serif;  margin-left: 25px;
	 color: #314f94;/* Use your custom font */
}
h3 {
  font-family: 'visbyregular', sans-serif;  margin-left: 20px;
	 color: #314f94;/* Use your custom font */
}
h4 {
  font-family: 'visbyregular', sans-serif;  margin-left: 20px;
	 color: #314f94;/* Use your custom font */
}
h5 {
  font-family: 'visbybold', sans-serif;  margin-left: 20px;
	 color: #314f94;/* Use your custom font */
}
h4 {
  font-family: 'visbybold', sans-serif; margin-left: 20px;
	 color: #314f94;/* Use your custom font */
}
.header-right {
    float: right;
	
}
body {

    background-color: var(--bg-color);
    margin-top: -47px;
	margin-left: -65px;
    margin-right:  -65px;
    margin-bottom: -33px;
    font-style: normal;
    font-weight: 200;
    min-height: 100vh;
	
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
/*Flexbox Grid*/ .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    padding: 0px;
}
.grid-container > div {
    /* [disabled]background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}


@media screen and (max-width: 750px) {
/*Flexbox Grid*/ .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  padding: 5px;
  font-size: 14px
}
.grid-container > div {
    /* [disabled]background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    padding: 10px 0; 
	
	}}
@media screen and (max-width: 450px) {
/*Flexbox Grid*/ .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0px;
  padding: 0px;
  font-size: 10px
}
.grid-container > div {
    /* [disabled]background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    padding: 5px 0;  
	}}
.item1 {
  grid-row-start: 1;  grid-row-end: 3; }
/* Scroll in text fade header*/
header {
  opacity: 0;
  transition: opacity .5s .25s ease-out;
}
header.is-visible {
  opacity: 1;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #314f94;
    text-align: left;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 0px;
}
/* Add an active class to highlight the current page */
.active {
  background-color: none;
  color: #314f94;
}
/* Add a background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
}
	.topnav a {
    float: left;
    display: block;
    color: #314f94;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
	}
	/* Phone (450PX)!*/

	.topnav a {
    float: left;
    display: block;
    color: #314f94;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
	

.topnav a {
    float: left;
    display: block;
    color: #314f94;
    text-align: left;
    padding-top: 29px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 11px;
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: right;
  }
}
/* Style for creating an image with a text overlay fade */
.container {
    position: relative;
    width: 100%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  opacity: .4;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  background-color: none;
  color: #314f94;
  font-weight: 600;
  font-size: 24px;
  border-radius: 30px;
  padding: 16px 16px;
}
/*Flexbox text when website loads on mobile/tablet */
@media screen and (max-width: 1000px) {
  .text {
     background-color: transparent;
  color: black;
  font-weight: 600;
  font-size: 12px;
  border-radius: 25px;
  padding: 16px 32px;
  }
}
/* Type writer animation and typeface*/
h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 {
    font-size: 4.5em;
    padding-bottom: 0px;
	color: #314f94;
    padding-top: 0px;
}
h2 {
  color: #314f94;
  font-size: 2em;
}
/*font size will be scaled for mobile purposes, tablet viewing not required*/
@media screen and (max-width: 450px) {
h1,h2,h3 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 2.4em; }
h2 {
  color: #314f94;
  font-size: 1.7em; 
	}
h3 {
  color: #314f94;
  font-size: 1.3em; 
	}}
html,body {
    font-family: 'visby', sans-serif;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    font-size: 18px;
    background: white;
    color: black
}
/* This is for CSS flexbox for homepage gallery*/
.row { display: flex; flex-wrap: wrap; }
/* Create three  or 2 equal columns that sits next to each other, used for main projects excl. elan beaute and photography */
.column {
	box-sizing: border-box;
    flex: 100%;
    max-width: 50%; /*adjust to 33% value for 3 columns, 50% for 2,*/
    align-content: center;
    padding-top: 0px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 0px;
}
.column img { }
/* Responsive layout - makes a 2 column-layout instead of 3 columns */
@media screen and (max-width: 850px) {
  .column { flex: 100%; max-width: 100%; } }
/* Responsive layout - makes the 2 column stack on top (1 column) of each other instead of next to each other (100% flex) */
@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*Photography Class is slighty different from the regular ones!, used to showcase 4, this switches to 2 columns when on mobile devices */
.photocolumn {
    
	flex: 100%;
    max-width: 24%; /*adjust to 32% value for 3 columns*/
    align-content: center; padding-top: 3px; padding-right: 0px; padding-left: 6px; padding-bottom: 0px; }
.photocolumn img { margin-top: 10px;border-radius: 13px; 
	vertical-align: middle;
	horizontal-align: middle; width: 100%; }
/* Responsive layout - makes a 2 column-layout instead of 3 columns */
@media screen and (max-width: 850px) {
  .photocolumn { flex: 33%; max-width: 100%; } }
/* Responsive layout - makes the 1 column stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .photocolumn {
    flex: 100%;
    max-width: 45%;
  }
}


/*3 COLUM GRID*/
.threecolumn {
    
	flex: 100%;
    max-width: 32%; /*adjust to 32% value for 3 columns*/
    align-content: center; padding-top: 3px; padding-right: 0px; padding-left: 6px; padding-bottom: 0px; }
.threecolumn img { margin-top: 10px;border-radius: 13px; 
	vertical-align: middle;
	horizontal-align: middle; width: 100%; }
/* Responsive layout - makes a 2 column-layout instead of 3 columns */
@media screen and (max-width: 850px) {
  .threecolumn 
	{ flex: 33%; 
	  max-width: 100%; } }
/* Responsive layout - makes the 1 column stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .threecolumn {
    flex: 100%;
    max-width: 100%;
  }
}
/* (A) LIGHTBOX BACKGROUND */
#lightbox {
  /* (A1) COVERS FULLSCREEN */
  position: fixed; z-index: 999;
  top: 0; left: 0;
  width: 99vw; height: 99vh;
 
  /* (A2) BACKGROUND */
  background: rgba(0, 0, 0, 0.5);
 
  /* (A3) CENTER IMAGE ON SCREEN */
  display: flex;
  align-items: center;
 
  /* (A4) HIDDEN BY DEFAULT */
  visibility: hidden;
  opacity: 0;
 
  /* (A5) SHOW/HIDE ANIMATION */
  transition: opacity ease 0.4s;
}
/* (A6) TOGGLE VISIBILITY */
#lightbox.show {
  visibility: visible;
  opacity: 1;
}
/* (B) LIGHTBOX IMAGE */
#lightbox img {
  /* (B1) DIMENSIONS */
  width: 95%;
  height: 95%;
  /* (B2) IMAGE FIT */ /* contain | cover | fill | scale-down */
  object-fit: contain;
}
/* (C) LIGHTBOX IMAGE - FULLSCREEN ALTERNATIVE *
#lightbox img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
/* Style buttons */
.btn {
  background-color: #314f94;
  border: solid;
  color: white;
  padding: 12px 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
}
@media screen and (max-width: 700px) {
.btn {
  background-color: #314f94;
  border: solid;
  color: white;
  padding: 6px 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
	}}
/* Darker background on mouse-over */
.btn:hover {
  background-color: gray;
}
/* Rounded Image div class and image refitting*/
img.rounded-corners{
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

@media screen and (max-width: 950px) {
  img.rounded-corners {
 max-width: 100%; 
	  border-radius: 25px; 
	  height: auto; 
	margin-left: 150px;
	  margin-top: 40px;
	 } }
@media screen and (max-width: 650px) {
  img.rounded-corners {
  max-width: 80%; 
  border-radius: 20px; 
  height: auto; 
  margin-top: 40px;
	} }

@media screen and (max-width: 450px){
  .img { height:30%; 
	  max-width: auto; 
	  border-radius: 5px;	}	}	
.link {
   color: #FFFFFF;
   text-color: #FFFFFF;
   background-color: none;
	}
.animated {
  transition: all 300ms ease-in-out; 
}
.fade-in, .fade-out.inactive { /* End State */
  opacity: 1;
}
.fade-in.inactive, .fade-out { /* Default State */
  opacity: 0;
	}

.d1 
video {
	position: center;
    width: 100%;
    max-width: 1080px;
}
html {
  scroll-behavior: smooth;
}

/* Responsive Image Styles - Add to your stylesheet.css */
.responsive-image-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

/* Desktop image - visible by default */
.about-gif-desktop {
    max-width: 100%;
    height: auto;
    display: block !important;
    margin: 0 auto;
}

/* Mobile image - hidden by default */
.about-gif-mobile {
    max-width: 100%;
    height: auto;
    display: none !important;
    margin: 0 auto;
}

/* Media query for mobile devices - matches your existing breakpoints */
@media screen and (max-width: 700px) {
    .about-gif-desktop {
        display: none !important;
    }
    
    .about-gif-mobile {
        display: block !important;
    }
}

/* Additional mobile targeting for iOS devices */
@media only screen and (max-device-width: 767px) {
    .about-gif-desktop {
        display: none !important;
    }
    
    .about-gif-mobile {
        display: block !important;
    }
}

/* Button container for centering */
.button-container {
    text-align: center;
    margin: 20px 0;
}

/* Center align buttons */
.btn {
    margin: 10px 8px;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #314f94;
    color: #314f94;
}

.btn .link {
    color: #314f94;
}

.btn:hover {
    background-color: #314f94;
    color: white;
}

.btn:hover .link {
    color: white;
}

/* Mobile button centering and sizing */
@media screen and (max-width: 700px) {
    .button-container {
        text-align: center;
    }
    
    .btn {
        display: inline-block;
        margin: 10px 5px;
        width: 28%;
        padding: 12px 8px;
        font-size: 14px;
        min-height: 45px;
        border-radius: 35px;
        background-color: transparent;
        border: 2px solid #314f94;
        color: #314f94;
    }
    
    .btn .link {
        font-size: 12px;
        color: #314f94;
    }
    
    .btn:hover {
        background-color: #314f94;
        color: white;
    }
    
    .btn:hover .link {
        color: white;
    }
}

